<footer class="footer section">
	<div class="container">
		<div class="row d-flex justify-content-between">
			<div class="col-12 col-md-6">
				<h3 class="text-white mb-3">{{ .Site.Title | markdownify }}</h3>
				<p>{{ .Site.Params.footer_content | markdownify }}</p>

				<ul class="list-inline footer-socials">
					{{ range .Site.Params.social }}
					<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
					{{ end }}
				</ul>
			</div>
			<div class="text-right ml-4">
				<h5>Más detalles</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_links }}
					<li><a href="{{ .link | safeURL }}">{{ .name }} </a></li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- search index -->
{{ if .Site.Params.search }}
<script>
  var indexURL = {{"index.json" | absURL}}
</script>
{{ end }}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if .Site.Params.map.enable }}
<script src="{{ .Site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

